variable "cloudflare_api_token" {
  type = string
  default = "Your Cloudflare API Token" <== replace with your valid Cloudflare API Token, see https://developers.cloudflare.com/fundamentals/api/get-started/create-token/
}
